* {
  padding: 0;
  margin: 0;
}
#game {
  width: 400px;
  height: 500px;
  border: 5px solid black;
  margin: auto;
  overflow: hidden;
  background-color: silver;
}
#block {
  width: 50px;
  height: 500px;
  background-color: greenyellow;
  position: relative;
  left: 400px;
  animation: block 2s infinite linear;
}
@keyframes block {
  0% {
    left: 400px;
  }
  100% {
    left: -50px;
  }
}

#hole {
  width: 50px;
  height: 150px;

  background-color: silver;
  position: relative;
  left: 400px;
  top: -500px;
  animation: block 2s infinite linear;
}

#character {
  width: 20px;
  height: 20px;
  border: dotted blueviolet;
  background-color: red;
  position: absolute;
  top: 100px;
  border-radius: 50%;
}
body {
  background: linear-gradient(90deg, aqua, greenyellow);
  background-position: fixed;
}

#createdBy {
  border: 0;
  background: transparent;
  text-align: center;
  padding: 14px 10px;
  left: 60px;
  width: 220px;
  outline: none;
  color: #fff;
  transition: 0.25px;
  font-family: verdana;
}
